<h3>Our V-MAN Pizza</h3>

       <div class="container-fluid">
            <div class="m-md-4">
                    <div class="row">
                        <div class="box-img">
                            <img src="assets/bocce_deluxe.jpg" />
                        </div>
                        <div class="box-text">
                            <h3>Bacon V-MAN</h3>
                        </div>
                        <ul>
                            <li>
                                <input id="priceBacS" type="hidden" />
                                <p>Small: ($8)    <input  type="number" id="BacS" onclick="UpdatePrice();" value="0" /></p>
                            </li>
                            <li>
                                <input  id="priceBacM" type="hidden" />
                                <p>Medium: ($12) <input  type="number" id="BacM" onclick="UpdatePrice();" value="0" /></p>
                               
                            </li>
                            <li>
                                <input  id="priceBacL" type="hidden" />
                                <p>Large: ($17) <input  type="number" id="BacL" onclick="UpdatePrice();" value="0" /></p>
                               
                            </li>
                        </ul>
                   
               
                
              
                        <div class="box-img">
                            <img src="assets/meatlovers.jpg" />
                        </div>
                        <div class="box-text">
                            <h3>Salami V-MAN</h3>
                        </div>
                        <ul>
                            <li>
                                <input  id="priceSalS" type="hidden" />
                                <p>Small: ($11) <input  type="number" id="SalS" onclick="UpdatePrice();" value="0" /></p>
                            </li>
                            <li>
                                <input  id="priceSalS" type="hidden" />
                                <p>Medium: ($16)<input  type="number" id="SalM" onclick="UpdatePrice();" value="0" /></p>
                            </li>
                            <li>
                                <input  id="priceSalS" type="hidden" />
                                <p>Large: ($19) <input  type="number" id="SalL" onclick="UpdatePrice();" value="0" /></p>
                            </li>
                        </ul>
                  
                    </div>
              
                    <div class="row">
                        <div class="box-img">
                            <img src="assets/original_bocce.jpg" />
                        </div>
                        <div class="box-text">
                            <h3>Pepperoni V-MAN</h3>
                        </div>
                        <ul>
                            <li>
                                <input  id="priceSalS" type="hidden" />
                                <p>Small: ($7)    <input  type="number" id="PepS" onclick="UpdatePrice();" value="0" /></p>
                              
                            </li>
                            <li>
                                <input  id="priceSalS" type="hidden" />
                                <p>Medium: ($11) <input type="number" id="PepM" onclick="UpdatePrice();" value="0" /></p>
                              
                            </li>
                            <li>
                                <input  id="priceSalS" type="hidden" />
                                <p>Large: ($14) <input  type="number" id="PepL" onclick="UpdatePrice();" value="0" /></p>
                               
                            </li>
                        </ul>
                   
             
                
                
                        <div class="box-img">
                            <img src="assets/mushroom.jpg" />
                        </div>
                        <div class="box-text">
                            <h3>Mushroom V-MAN</h3>
                        </div>
                        <ul>
                            <li>
                                <input  id="priceSalS" type="hidden" />
                                <p>Small: ($10)    :<input  type="number" id="MusS" onclick="UpdatePrice();" value="0" /></p>
                            </li>
                            <li>
                                <input  id="priceSalS" type="hidden" />
                                <p>Medium: ($12) :<input type="number" id="MusM" onclick="UpdatePrice();" value="0" /></p>

                            </li>
                            <li>
                                <input id="priceSalS" type="hidden" />
                                <p>Large: ($16) :<input  type="number" id="MusL" onclick="UpdatePrice();" value="0" /></p>

                            </li>
                        </ul>
                   
                       </div>
            
                        <div class="row">
                        <div class="box-img">
                            <img src="assets/cheese-images.jpg" />
                        </div>
                        <div class="box-text">
                            <h3>Cheese V-MAN</h3>
                        </div>
                        <ul>
                            <li>
                                <input  id="priceSalS" type="hidden" />
                                <p>Small: ($5)    <input  type="number" id="CheS" onclick="UpdatePrice();" value="0" /></p>
                              
                            </li>
                            <li>
                                <input  id="priceSalS" type="hidden" />
                                <p>Medium: ($7) <input type="number" id="CheM" onclick="UpdatePrice();" value="0" /></p>
                                
                            </li>
                            <li>
                                <input  id="priceSalS" type="hidden" />
                                <p>Large: ($11) <input  type="number" id="CheL" onclick="UpdatePrice();" value="0" /></p>
                               
                            </li>
                        </ul>
                   
                   
                
               
            
                        <div class="box-img">
                            <img src="assets/chicken_art.jpg" />
                        </div>
                        <div class="box-text">
                            <h3>Chicken V-MAN</h3>
                        </div>
                        <ul>
                            <li>
                                <input  id="priceSalS" type="hidden" />
                                <p>Small: ($10)    <input  type="number" id="ChkS" onclick="UpdatePrice();" value="0" /></p>
                               
                            </li>
                            <li>
                                <input  id="priceSalS" type="hidden" />
                                <p>Medium: ($12) <input  type="number" id="ChkM" onclick="UpdatePrice();" value="0" /></p>
                                
                            </li>
                            <li>
                                <input  id="priceSalS" type="hidden" />
                                <p>Large: ($16) <input  type="number" id="ChkL" onclick="UpdatePrice();" value="0" /></p>
                                
                            </li>
                        </ul>
   
                    </div>
                </div>
            </div>
  
        <span>Total Price: $</span>
        <input type="text" id="totP" name="fname">
    
    <div class="form-group">
        <input type="submit" value="Comfirm Order" class="btn btn-danger" />
    </div>
    





