
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page - VMAN Pizza</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3" style="background-color:burlywood">
            <div class="container">
                <a class="navbar-brand" href="/">VMAN Pizza</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" > 
                           <a class="nav-link text-dark" (click)="Title='Pizza'" routerLink="">Delivery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" (click)="Title='Customer'" routerLink="">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" (click)="Title='Order'"routerLink="" >Order</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    
    <div [ngSwitch]="Title">
        <app-login  *ngSwitchCase="'Customer'"></app-login>
        <app-customer  *ngSwitchCase="'Pizza'"></app-customer>
        <app-order  *ngSwitchCase="'Order'"></app-order>
        <div *ngSwitchDefault class="text-center">

                <div class="jumbotron" style="background-color:aliceblue">
                    <h1 id="Locator">Welcome to VMAN Pizza</h1>
                    <p>Home to the best pizza ever made by men.</p>
                    <a class="btn btn-outline-warning" asp-area="" asp-controller="Customers" asp-action="CreateCustomer">Register</a>
                    <a class="btn btn-outline-warning" asp-area="" asp-controller="OrderPizzas1" asp-action="CreateOrderPizza">Continue as a guest</a>
                </div>
                <div id="demo" class="carousel slide" data-ride="carousel">
        
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>
        
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/Images/vita-marija-murenaite-eSeo6IzOV00-unsplash.jpg" alt="Los Angeles" width="1100" height="500">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Images/brenna-huff-22Vt7JIf7ZI-unsplash.jpg" alt="Chicago" width="1100" height="500">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Images/evelyn-KxbdAZx8Uqs-unsplash.jpg" alt="New York" width="1100" height="500">
                        </div>
                    </div>
        
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        
    </div>

    <footer class="border-top footer text-muted" style="background-color:burlywood">
        <div class="container">
            &copy; 2019 - VMAN Pizza - <a href="/Home/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>


<router-outlet></router-outlet>
